<div class="container">
	<div class="row">
		<div id="profile-page" class="clearfix">

			<div class="col-sm-2 col-xs-12">
				<img ng-src="{{currentUser.info.profilepic}}" id="profile-pic" class="img-responsive">
			</div>

			<div class="col-sm-10 col-xs-12">
				<h4>Profile Info:</h4>
				<ul class="profile-list-info">
					<li id="profile-name">Name: {{currentUser.info.display_name}}</li>
					<li id="profile-username">Gaming Username: {{currentUser.info.username}}</li>
					<li id="profile-age">Age: {{currentUser.info.age}}</li>
					<li id="profile-location">Location: {{currentUser.info.location}}</li>
					<li id="profile-platform">Gaming System: {{currentUser.info.platform}}</li>
					<li id="profile-favgames">Favourite Games: {{currentUser.info.favgames}}</li>
					<li id="profile-addinfo">Additional Info: {{currentUser.info.addinfo}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>	
